<h1><%= @topic.title %></h1>

<p><%= @topic.description %></p>
<div style="float: right">
    <%= link_to "Back", mainforum_path(@topic.mainforum) %>
    <% if current_user.try(:admin?) %>
        | <%= link_to "Edit", edit_mainforum_topic_path(@topic.mainforum, @topic) %> |
        <%= link_to "Delete", mainforum_topic_path(@topic.mainforum, @topic), method: :delete, data: { confirm: "Are you sure?" }  %>
    <% end %>
</div>

<br>
<br>
<hr />
<% @topic.posts.each do |post| %>
    <h3><%= link_to post.title, topic_post_path(@topic, post) %></h3>
    <p><%= post.body %></p>
    <p>Submitted <%= time_ago_in_words(post.created_at) %> ago</p>
    <hr />
<% end %>

<%= link_to "New Post", new_topic_post_path(@topic) %>
