<h1><%= @topic.title %></h1><br />

<%= @topic.description %><br />
<br />
<%= link_to "Back", mainforum_path(@forum) %>
<%= link_to "Edit", edit_mainforum_topic_path %>
<%= link_to "Delete", mainforum_topic_path(@forum, @topic), method: :delete, data: { confirm: "Are you sure?" }  %>
