<h1><%= @forum.title %></h1>

<%= @forum.description %>
<div style="float: right">
    <%= link_to "Back", root_path %>
    <% if current_user.try(:admin?) %>
        | <%= link_to "Edit", edit_mainforum_path %> |
        <%= link_to "Delete", mainforum_path(@forum), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
</div>

<br>
<br>
<hr />
<% @forum.topics.each do |t| %>
<h3><%= link_to t.title, topic_path(t) %></h3>
<p><%= t.description %></p>
<hr>
<% end %>

<% if current_user.try(:admin?) %>
    <%= link_to "New Thread",  new_mainforum_topic_path(@forum, @topic) %>
<% end %>
